/*
* @Author: MJSame
* @Date:   2016-10-31 16:21:13
* @Last Modified by:   MJSame
* @Last Modified time: 2016-10-31 22:34:24
*/

.wrap {
    @include divBulk(100%, 100%);
    // perspective: 100px;
    // transform-style: preserve-3d;
}

.content {
    width: 500px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.station-name {
    @include divBulk(500px, 100px);
    color: #fff;
    border: 1px solid $green;
    background: $green;
    text-align: center;
    h2 {
        @include inline-block;
    }
    span{
      font-size: 18px;
      margin-left: 5px;
    }
}
